.home {
  &__header {
    position: relative;
  }

  &__appbar.MuiAppBar-root {
    background-color: white;
  }

  &__toolbar.MuiToolbar-root {
    justify-content: center;
  }

  &__content {
    padding: 20px;
    text-align: center;
    background-color: #efefef;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  &__user-list {
    width: calc(40% + 40px);
  }
}
